max connections = {{ rsync_max_conn }}
exclude = {{ rsync_exclude }}
dont compress = {{ rsync_not_compress }}

{% for module in rsync_modules %}
[{{ module.name }}]
	{% if module.uid is defined %}uid = {{ module.uid }}{% endif %}{{''}}
	{% if module.gid is defined %}gid = {{ module.gid }}{% endif %}{{''}}
	path = {{ module.path }}
	{% if module.comment is defined %}comment = {{ module.comment }}{% endif %}{{''}}
	{% if module.ro | default(no) | bool %}read only = yes{% endif %}{{''}}
	{% if module.list | default(no) | bool %}list = yes{% endif %}{{''}}
	{% if module.users is defined %}auth users = {{ module.users | join(',') }}{% endif %}{{''}}
	{% if module.has_secrets | default(no) | bool %}secrets file = /etc/rsyncd.scrt{% endif %}{{''}}
	hosts allow = localhost {{ groups[module.group] | map('extract', hostvars, ['ansible_default_ipv4', 'address']) | join(' ') }}
	hosts deny = *

{% endfor %}
