[Unit]
Description=Razumator API
After=syslog.target network.target haproxy.service

[Service]
SyslogIdentifier=razumator-api
SyslogFacility={{ razumator_log_facility }}
SyslogLevel={{ razumator_log_severity }}
User={{ userId }}
Group={{ groupId }}
Type=simple
Restart=always
WorkingDirectory=/
ExecStart={{ razumator_bin_dir }}/{{ razumator_builddir }}/restapi
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -INT $MAINPID
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
