if $programname == 'razumator-api' then {
      action(type="omfile"
             fileOwner="{{ userId }}"
             fileGroup="{{ groupId }}"
             dirOwner="{{ userId }}"
             dirGroup="{{ groupId }}"
             dirCreateMode="0750"
             FileCreateMode="0640"
             File="{{ razumator_logdir }}/api.log")
}

if $programname == 'razumator-core' then {
      action(type="omfile"
             fileOwner="{{ userId }}"
             fileGroup="{{ groupId }}"
             dirOwner="{{ userId }}"
             dirGroup="{{ groupId }}"
             dirCreateMode="0750"
             FileCreateMode="0640"
             File="{{ razumator_logdir }}/core.log")
}
