# Database administrative login by Unix domain socket
local   all             postgres                                peer

# TYPE  DATABASE        USER            ADDRESS                 METHOD

# "local" is for Unix domain socket connections only
local   all             all                                     peer
# IPv4 local connections:
host    all             all             127.0.0.1/32            md5  
# IPv6 local connections:
host    all             all             ::1/128                 md5 

# Allow replication connections from localhost, by a user with the replication privilege
local   replication     repluser                                peer
{% for host in postgresql_safe_hosts %}
host    replication     repluser        {{ host }}              md5
{% endfor %}

# Dev users
{% for db in postgresql_dbs %}
{% for host in postgresql_safe_hosts %}
host    {{ db.name }}   {{ db.user }}   {{ host }}              md5
{% endfor %}
{% endfor %}
