{{ ansible_managed | comment }}

{% for host in groups['all'] %}
{% if hostvars[host]['rsyslog_server'] | default(false) | bool %}
{{ rsyslog_send_facility | join(',') }}.{{ rsyslog_send_severity | join(',') }}  @@{{ lookup('dig', host + '.i') }}:514
{% endif %}
{% endfor %}
