{% set NS = namespace(items=0, env='unknown') %}
{{ ansible_managed | comment }}

global:
  scrape_interval:     {{ victoria_metrics_scrape_interval }} # Set the scrape interval to every X seconds. Default is every 1 minute.
  evaluation_interval: {{ victoria_metrics_evaluation_interval }} # Evaluate rules every X seconds. The default is every 1 minute.

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Victoria Metrics itself.
scrape_configs:
  - job_name: 'victoria-metrics'
    static_configs:
    - targets: ['localhost:{{ victoria_metrics_port }}']

{% for job in prometheus_jobs %}
  - job_name: '{{ job.name }}'
{% if job.scrape_interval is defined %}
    scrape_interval: {{ job.scrape_interval }}
{% endif %}
{% if job.scrape_timeout is defined %}
    scrape_timeout: {{ job.scrape_timeout }}
{% endif %}
    static_configs:
{% for group in monitoring_groups %}
{% set NS.items = 0 %}
{% set NS.env = 'unknown' %}
{% for host in groups[job.group] + job.addition | default([]) %}
{% if host in groups[group] and (job.except is not defined or host not in groups[job.except]) %}
{% if NS.items == 0 %}
    - targets:
{% endif %}
{% set NS.items = NS.items + 1 %}
{% set NS.env = hostvars[host]['env'] %}
      - '{{ host }}:{{ job.port }}'
{% endif %}
{% if loop.last and NS.items > 0 %}
      labels:
        env: '{{ NS.env }}'
{% endif %}
{% endfor %}
{% endfor %}

{% endfor %}
