# {{ ansible_managed }}
{% if redirect_local_traffic | default([]) | length > 0 or snat_vpn_trraffic | default(false) %}
*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
{% if snat_vpn_trraffic | default(false) %}
-A POSTROUTING -s {{ openvpn_server_subnet | default('192.168.10.0') }}/{{ openvpn_server_mask | default('255.255.255.0') }} -o {{ openvpn_interface | default(ansible_default_ipv4['interface']) }} -j SNAT --to-source {{ openvpn_server_tun0 | default('192.168.10.1') }}
{% endif %}
-A POSTROUTING -m addrtype --src-type LOCAL --dst-type UNICAST -j MASQUERADE
{% for port in redirect_local_traffic | default([]) %}
-A OUTPUT -p tcp -m addrtype --src-type LOCAL --dst-type LOCAL -m tcp --dport {{ port }} -j DNAT --to-destination {{ ansible_default_ipv4['address'] }}
{% endfor %}
COMMIT

{% endif %}
*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT DROP [0:0]
:incoming-ssh - [0:0]
:incoming-local - [0:0]
:incoming-local-wide - [0:0]
:incoming-external - [0:0]
:valid-states - [0:0]
:outgoing-services - [0:0]
:docker-bridges - [0:0]
{% if inventory_hostname in groups['gitlab_runner'] %}
:DOCKER - [0:0]
:DOCKER-ISOLATION-STAGE-1 - [0:0]
:DOCKER-ISOLATION-STAGE-2 - [0:0]
:DOCKER-USER - [0:0]

-A FORWARD -j DOCKER-USER
-A FORWARD -j DOCKER-ISOLATION-STAGE-1
{% for br in docker_bridges %}
{% if inventory_hostname in groups[br.group | default('all')] %}
-A FORWARD -o {{ br.name }} -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A FORWARD -o {{ br.name }} -j DOCKER
-A FORWARD -i {{ br.name }} ! -o {{ br.name }} -j ACCEPT
-A FORWARD -i {{ br.name }} -o {{ br.name }} -j ACCEPT
{% endif %}
{% endfor %}
{% endif %}

{% if redirect_vpn_trraffic | default(false) %}
-A FORWARD -s {{ openvpn_server_subnet }}/{{ openvpn_server_netmask }} -j ACCEPT
-A FORWARD -s {{ openvpn_local_subnet }}/{{ openvpn_local_netmask }} -j ACCEPT
{% endif %}

-A INPUT -i lo -m comment --comment "Accept all on loopback" -j ACCEPT
-A INPUT -m conntrack --ctstate INVALID -j DROP
-A INPUT -j valid-states
-A INPUT -p tcp -m tcp --dport 22 -j incoming-ssh
-A INPUT -j docker-bridges

{% for br in docker_bridges | default([]) %}
{% if inventory_hostname in groups[br.group | default('all')] %}
{% for rule in br.accept_rules | default([]) %}
-A docker-bridges -s {{ br.cidr }} -p {{ rule.proto }} -m {{ rule.proto }} --dport {{ rule.port }} -j ACCEPT
{% endfor %}
{% endif %}
{% endfor %}
-A docker-bridges -j RETURN

-A INPUT -p tcp -m multiport --dports 80,443 -m comment --comment Web -j {% if external_connections | default('false') | bool %}incoming-external{% else %}incoming-local-wide{% endif %}{{ "" }}

{% if inventory_hostname in groups['mqtt_servers'] %}
-A INPUT -p tcp -m tcp --dport 1883 -m comment --comment MQTT -j {% if external_connections | default('false') | bool %}incoming-external{% else %}incoming-local-wide{% endif %}{{ "" }}
{% endif %}

-A INPUT -p vrrp -m comment --comment VRRP -j incoming-local
-A INPUT -p icmp -m comment --comment ICMP -j incoming-local-wide

{% if inventory_hostname in groups['bastion'] %}
-A INPUT -p {{ openvpn_protocol | default('udp') }} -m {{ openvpn_protocol | default('udp') }} --dport {{ openvpn_port | default(1194) }} -m comment --comment VPN -j {% if external_connections_vpn | default('false') | bool %}incoming-external{% else %}incoming-local-wide{% endif %}{{ "" }}
{% endif %}

{% if rsyslog_server | default(false) | bool %}
{% if rsyslog_server_tcp | default(false) | bool %}
-A INPUT -p tcp -m tcp --dport 514 -m comment --comment "RSyslog TCP" -j incoming-local
{% endif %}
{% if rsyslog_server_udp | default(false) | bool %}
-A INPUT -p udp -m udp --dport 514 -m comment --comment "RSyslog UDP" -j incoming-local
{% endif %}
{% endif %}

{% if inventory_hostname in groups['rsyncd_servers'] %}
-A INPUT -p tcp -m tcp --dport 873 -m comment --comment rsyncd -j incoming-local
{% endif %}

{% if inventory_hostname in groups['dev'] %}
# Accept all on dev hosts
-A INPUT -m conntrack --ctstate RELATED,NEW,ESTABLISHED -j incoming-local
{% else %}
{% if inventory_hostname in groups['dns_servers'] %}
-A INPUT -p tcp -m tcp --dport 53 -m comment --comment DNS-TCP -j incoming-local-wide
-A INPUT -p udp -m udp --dport 53 -m comment --comment DNS-UDP -j incoming-local-wide
-A INPUT -p tcp -m tcp --dport {{ pdns_api_port }} -m comment --comment pdns_api -j incoming-local
-A INPUT -p tcp -m tcp --dport {{ pdns_recursor_api_port }} -m comment --comment pdns_recursor_api -j incoming-local
-A INPUT -p tcp -m tcp --dport {{ pdns_admin_port }} -m comment --comment pdns_metrics -j incoming-local
{% endif %}

{% if inventory_hostname in groups['monitoring_servers'] %}
#-A INPUT -p tcp -m tcp --dport 9090 -m comment --comment Prometheus -j incoming-local
#-A INPUT -p tcp -m tcp --dport {{ alertmanager_port | default(9093) }} -m comment --comment Alertmanager -j incoming-local
#-A INPUT -p tcp -m tcp --dport {{ alertmanager_bot_port | default(8007) }} -m comment --comment Alertmanager-bot -j incoming-local
#-A INPUT -p tcp -m tcp --dport {{ victoria_metrics_port | default(8428) }} -m comment --comment VictoriaMetrics -j incoming-local
#-A INPUT -p tcp -m tcp --dport {{ vmagent_port | default(8429) }} -m comment --comment VictoriaMetricsAgent -j incoming-local
#-A INPUT -p tcp -m tcp --dport {{ vmalert_port | default(8880) }} -m comment --comment VictoriaMetricsAlert -j incoming-local
-A INPUT -p tcp -m tcp --dport 3000 -m comment --comment Grafana -j incoming-local
{% endif %}

{% if inventory_hostname in groups['ceph'] %}
-A INPUT -p tcp -m multiport --dports 3300,6789 -m comment --comment CephMON -j incoming-local
-A INPUT -p tcp -m multiport --dports 6800:7300 -m comment --comment CephOther -j incoming-local
-A INPUT -p tcp -m tcp --dport 9283 -m comment --comment ceph_mgr_exporter -j incoming-local
{% endif %}

# DENY DEV-REQUESTS ON PROD
{% for host in groups['dev'] %}
-A INPUT -s {{ dev_public_vip_ip }}/32 -j DROP
-A INPUT -s {{ dev_private_vip_ip }}/32 -j DROP
-A INPUT -s {{ lookup('dig', host + '.i') }}/32 -j DROP
{% endfor %}

# Consul
-A INPUT -p tcp -m multiport --dports 8300,8301,8302,{{ consul_http_port | default(8500) }} -m comment --comment consul -j incoming-local
-A INPUT -p tcp -m tcp --dport 9107 -m comment --comment consul_exporter -j incoming-local

# All hosts
-A INPUT -p tcp -m tcp --dport 9100 -m comment --comment node_exporter -j incoming-local
-A INPUT -p tcp -m tcp --dport 9000 -m comment --comment "HAProxy dashboard" -j incoming-local
-A INPUT -p tcp -m tcp --dport 9101 -m comment --comment haproxy_exporter -j incoming-local

{% if inventory_hostname in groups['payment_servers'] %}
# Payment exporter & automation scripts
-A INPUT -p tcp -m tcp --dport {{ payment_exporter_port | default(9999) }} -m comment --comment payment_exporter -j incoming-local
{% endif %}

{% if inventory_hostname in groups['memcached_servers'] %}
# Memcached
-A INPUT -p tcp -m tcp --dport {{ memcached_port | default(11211) }} -m comment --comment Memcached -j incoming-local
-A INPUT -p tcp -m tcp --dport 9150 -m comment --comment memcached_exporter -j incoming-local
{% endif %}

{% if inventory_hostname in groups['db_servers'] %}
# MySQL & PostgreSQL & ...
-A INPUT -p tcp -m multiport --dports 3306,4444,4567,4568,9200 -m comment --comment "MySQL/Galera TCP" -j incoming-local
-A INPUT -p udp -m udp --dport 4567 -m comment --comment "MySQL/Galera UDP" -j incoming-local
-A INPUT -p tcp -m tcp --dport 9104 -m comment --comment mysqld_exporter -j incoming-local
-A INPUT -p tcp -m tcp --dport {{ postgresql_port | default(5432) }} -m comment --comment PostgreSQL -j incoming-local
-A INPUT -p tcp -m tcp --dport 9187 -m comment --comment postgres_exporter -j incoming-local
{% endif %}

{% if inventory_hostname in groups['redis_servers'] %}
# Redis
-A INPUT -p tcp -m multiport --dports {{ redis_bind_port | default(6379) }},16379 -m comment --comment Redis -j incoming-local
-A INPUT -p tcp -m tcp --dport 9121 -m comment --comment redis_exporter -j incoming-local
{% endif %}

{% if inventory_hostname in groups['mqtt_servers'] %}
# MQTT broker
-A INPUT -p tcp -m tcp --dport 1883 -m comment --comment "mqtt proxy" -j incoming-local
-A INPUT -p tcp -m tcp --dport 1884 -m comment --comment mqtt -j incoming-local
-A INPUT -p tcp -m tcp --dport {{ mosquitto_exporter_port | default(9234) }} -m comment --comment mosquitto_exporter -j incoming-local
{% endif %}

{% if inventory_hostname in groups['raspberry_pi'] %}
# Raspberry Pi specific services
-A INPUT -p tcp -m tcp --dport 9243 -m comment --comment rpi_exporter -j incoming-local
{% endif %}

{% if inventory_hostname in groups['krionard'] %}
# Marusya & Alice skills API
-A INPUT -p tcp -m tcp --dport {{ krionard_port | default(5000) }} -m comment --comment "Krionard" -j incoming-local
{% endif %}

{% if inventory_hostname in groups['dacrover'] %}
# SmartHome API
-A INPUT -p tcp -m tcp --dport {{ dacrover_port | default(4050) }} -m comment --comment "Dacrover" -j incoming-local
{% endif %}

{% if inventory_hostname in groups['research_servers'] %}
# Jupyter & ML services
-A INPUT -p tcp -m tcp --dport {{ jupyter_port | default(8888) }} -m comment --comment "Jupyter Notebook" -j incoming-local
-A INPUT -p tcp -m tcp --dport 5900 -m comment --comment "VNC server" -j incoming-local
-A INPUT -p tcp -m tcp --dport 4444 -m comment --comment "OmegaStation" -j incoming-local
{% endif %}

{% if razumator_api_group is defined and inventory_hostname in groups[razumator_api_group] %}
-A INPUT -p tcp -m tcp --dport {{ razumator_api_port | default(10001) }} -m comment --comment "Razumator API" -j incoming-local
{% endif %}
{% if razumator_core_group is defined and inventory_hostname in groups[razumator_core_group] %}
-A INPUT -p tcp -m tcp --dport {{ razumator_port | default(10000) }} -m comment --comment "Razumator Core" -j incoming-local
-A INPUT -p tcp -m tcp --dport {{ razumator_proxy_port | default(10002) }} -m comment --comment "Razumator Core Proxy" -j incoming-local
{% endif %}

{% if open_proxy_ports | default(false) | bool %}
# Access to proxy ports from local network (default: only localhost)
-A INPUT -p tcp -m tcp --dport {{ memcached_proxy_port | default(11311) }} -m comment --comment memcached_proxy -j incoming-local
-A INPUT -p tcp -m multiport --dports {{ mariadb_proxy_port | default(3307) }},{{ mariadb_proxy_port_ro | default(3308) }} -m comment --comment mysqld_proxy -j incoming-local
-A INPUT -p tcp -m tcp --dport {{ redis_proxy_port | default(6380) }} -m comment --comment redis_proxy -j incoming-local
-A INPUT -p tcp -m tcp --dport {{ postgresql_proxy_port | default(5433) }} -m comment --comment postgresql_proxy_port -j incoming-local
-A INPUT -p tcp -m tcp --dport {{ postgresql_proxy_port_ro | default(5434) }} -m comment --comment postgresql_proxy_port_ro -j incoming-local
{% endif %}

{% if inventory_hostname in groups['web_servers'] %}
-A INPUT -p tcp -m tcp --dport 9113 -m comment --comment "nginx_exporter" -j incoming-local
{% endif %}
{% endif %}

-A OUTPUT -o lo -m comment --comment "Accept all on loopback" -j ACCEPT
-A OUTPUT -j valid-states
-A OUTPUT -j outgoing-services

-A incoming-ssh -s 192.168.8.0/24 -m conntrack --ctstate NEW,ESTABLISHED -m comment --comment "Local SSH" -j ACCEPT
-A incoming-ssh -s 192.168.9.0/24 -m conntrack --ctstate NEW,ESTABLISHED -m comment --comment "Router VPN SSH" -j ACCEPT
-A incoming-ssh -s 192.168.2.0/24 -m conntrack --ctstate NEW,ESTABLISHED -m comment --comment "Golovanova VPN SSH" -j ACCEPT
{% if accept_ssh_via_local_vpn | default(false) | bool %}
-A incoming-ssh -s {{ openvpn_server_subnet | default('192.168.10.0') }}/{{ openvpn_server_netmask | default('24') }} -m conntrack --ctstate NEW,ESTABLISHED -m comment --comment "Local OpenVPN" -j ACCEPT
{% endif %}
-A incoming-ssh -j DROP

-A incoming-local-wide -s 192.168.8.0/24 -m conntrack --ctstate NEW,ESTABLISHED -m comment --comment "Local" -j ACCEPT
-A incoming-local-wide -s 192.168.9.0/24 -m conntrack --ctstate NEW,ESTABLISHED -m comment --comment "Router VPN" -j ACCEPT
-A incoming-local-wide -s 192.168.2.0/24 -m conntrack --ctstate NEW,ESTABLISHED -m comment --comment "Golovanova VPN" -j ACCEPT
-A incoming-local-wide -s {{ openvpn_server_subnet | default('192.168.10.0') }}/{{ openvpn_server_netmask | default('24') }} -m conntrack --ctstate NEW,ESTABLISHED -m comment --comment "Local OpenVPN" -j ACCEPT
-A incoming-local-wide -j DROP

-A incoming-local -s 192.168.8.0/24 -m conntrack --ctstate NEW,ESTABLISHED -j ACCEPT
-A incoming-local -j DROP

{% for cidr in external_blacklist | default([]) %}
-A incoming-external -s {{ cidr }} -j DROP
{% endfor %}
-A incoming-external -m conntrack --ctstate NEW,ESTABLISHED -j ACCEPT
-A incoming-external -j DROP

-A valid-states -p tcp -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A valid-states -p udp -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A valid-states -p icmp -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A valid-states -p vrrp -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A valid-states -j RETURN

-A outgoing-services -p tcp -j ACCEPT
-A outgoing-services -p udp -j ACCEPT
-A outgoing-services -p icmp -j ACCEPT
-A outgoing-services -p vrrp -j ACCEPT
-A outgoing-services -j DROP

{% if inventory_hostname in groups['gitlab_runner'] %}
{% for br in docker_bridges | default([]) %}
{% if inventory_hostname in groups[br.group | default('all')] %}
-A DOCKER-ISOLATION-STAGE-1 -i {{ br.name }} ! -o {{ br.name }} -j DOCKER-ISOLATION-STAGE-2
{% endif %}
{% endfor %}
-A DOCKER-ISOLATION-STAGE-1 -j RETURN

{% for br in docker_bridges | default([]) %}
{% if inventory_hostname in groups[br.group | default('all')] %}
-A DOCKER-ISOLATION-STAGE-2 -o {{ br.name }} -j DROP
{% endif %}
{% endfor %}
-A DOCKER-ISOLATION-STAGE-2 -j RETURN

-A DOCKER-USER -d {{ service_vip_ip }}/32 -m comment --comment "Accept DNS" -j ACCEPT
-A DOCKER-USER -d {{ default_gw | ipsubnet(subnet_mask) }} -m comment --comment "Reject LAN" -j REJECT
-A DOCKER-USER -j RETURN
{% endif %}

COMMIT
{% if inventory_hostname in groups['gitlab_runner'] %}

*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:DOCKER - [0:0]

-A PREROUTING -m addrtype --dst-type LOCAL -j DOCKER
{% for br in docker_bridges %}
{% if inventory_hostname in groups[br.group | default('all')] %}
-A POSTROUTING -s {{ br.cidr }} ! -o {{ br.name }} -j MASQUERADE
{% endif %}
{% endfor %}
-A OUTPUT ! -d 127.0.0.0/8 -m addrtype --dst-type LOCAL -j DOCKER
{% for br in docker_bridges %}
{% if inventory_hostname in groups[br.group | default('all')] %}
-A DOCKER -i {{ br.name }} -j RETURN
{% endif %}
{% endfor %}

COMMIT
{% endif %}
