[Unit]
Description=%i uWSGI app
After=syslog.target
PartOf=uwsgi-apps.target
SyslogFacility=local0

[Service]
Type=simple
Restart=always
StartLimitBurst=3
StartLimitIntervalSec=30
KillSignal=SIGINT
ExecStartPre=/bin/mkdir -p /run/uwsgi
ExecStartPre=/bin/chown -R uwsgi:uwsgi /run/uwsgi
ExecStart=/usr/bin/uwsgi \
	--ini /etc/uwsgi/apps-enabled/%i.ini \
	--pidfile /run/uwsgi/%i.pid
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=uwsgi-apps.target
