<html>
<head>
	<meta charset="utf-8">
	<title>Проект Ассоль</title>
	<style>
		body {
			background-color: #0b0c0e;
			color: #66a5dc;
			font-family: "Courier New";
			font-weight: bold;
		}
		.logo {
			background-image: url('/img/logo.png');
			background-size: cover;
			width: 100%;
			height: 100%;
		}
		.title {
			margin-top: 20px;
			text-align: center;
			font-size: 25px;
		}
		.centurion {
			margin-left: auto;
			margin-right: auto;
			margin-top: 5vh;
			width: 25vh;
			height: 25vh;
		}
		.footer {
			position: fixed;
			bottom: 2vh;
			left: 2vw;
			width: 96vw;
		}
		.left {
			float: left;
			color: #ad85ee;
		}
		.right {
			float: right;
			color: #7ac86b;
		}
		.wrapper {
			text-align: center;
		}
		.content {
			display: inline-block;
			margin-top: 20vh;
		}
		.link {
			display: inline-block;
			width: 100px;
			height: 100px;
			text-decoration: none;
			color: #66a5dc;
			margin: 20px;
		}
		.link p {
			text-align: center;
			margin: 0;
			margin-top: 10px;
		}
		.link div {
			width: 70px;
			height: 70px;
			background-size: cover;
			background-position: center;
			margin-left: auto;
			margin-right: auto;
			display: block;
			border-radius: 30%;
		}
	</style>
</head>
<body>
	<div class="centurion">
		<div class="logo"></div>
	</div>
	<div class="title">Проект Ассоль<br>Внутренняя панель</div>
	<div class="wrapper">
		<div class="content">
{% for site in nginx_sites %}
{% if site.display is defined %}
			<a class="link" href="https://{{ site.server_name }}/" target="_blank">
				<div style="background-image: url('{{ '/img/' + site.display.icon | default('/img/logo.png') }}');"></div><p>{{ site.display.name | default(site.name) }}</p>
			</a>
{% endif %}
{% endfor %}
{% if display_only_sites is defined %}
{% for site in display_only_sites %}
			<a class="link" href="{{ site.addr }}" target="_blank">
				<div style="background-image: url('{{ '/img/' + site.icon | default('/img/logo.png') }}');"></div><p>{{ site.name }}</p>
			</a>
{% endfor %}
{% endif %}
		</div>
	</div>
	<div class="footer">
		<div class="left">{{ project_version }}</div>
		<div class="right">{{ inventory_hostname }}</div>
	</div>
</body>
</html>
