{
	"host_redis": "{{ redis_proxy_host }}",
	"port_redis": {{ redis_proxy_port }},
	"user_mysql": "{{ marusya_skill_db_user }}",
	"password_mysql": "{{ marusya_skill_db_pass }}",
	"host_mysql": "{{ mariadb_proxy_host }}",
	"port_mysql": {{ mariadb_proxy_port }},
	"database_mysql": "{{ marusya_skill_db_name }}",
	"skillname": "{{ marusya_skill_name }}",
	"smarthome_addr": "{{ smarthome_host }}",
	"smarthone_port": {{ smarthome_port }}
}