
input(type="imfile"
      File="{{ marusya_skill_logdir }}/*.log"
      StateFile="{{ app_name }}"
      Tag="{{ app_name }}"
      reopenOnTruncate="on"
      Severity="{{ marusya_skill_log_severity }}"
      Facility="{{ marusya_skill_log_facility }}")
