{{ ansible_managed | comment }}

route:
  group_wait: {{ alermanager_group_wait }}
  group_interval: {{ alermanager_group_interval }}
  repeat_interval: {{ alermanager_repeat_interval }}
  group_by: ['alertname', 'cluster', 'service']
  receiver: {{ alertmanager_receivers[0].name }}

receivers:
{% for receiver in alertmanager_receivers %}
  - name: {{ receiver.name }}
    webhook_configs:
      - send_resolved: true
        url: 'http://{{ receiver.host }}:{{ receiver.port }}'
{% endfor %}
