[Unit]
Description={{ serviceName }}
Wants=network-online.target
After=network-online.target

[Service]
User={{ userId }}
Group={{ groupId }}
Restart=on-failure
Type=simple
EnvironmentFile={{ mosquitto_env_file }}
ExecStart={{ exec_command }}

[Install]
WantedBy=multi-user.target
