{
	"user_mysql": "{{ dacrover_db_user }}",
	"password_mysql": "{{ dacrover_db_pass }}",
	"host_mysql": "{{ mariadb_proxy_host }}",
	"port_mysql": {{ mariadb_proxy_port }},
	"database_mysql": "{{ dacrover_db_name }}",
	"port_dacrover": "{{ dacrover_port }}"
}