[uwsgi]
name = {{ app_name }}
uid = assol
gid = assol

master = true
workers = 2
threads = 2

http-socket = {{ dacrover_bind }}:{{ dacrover_port }}
buffer-size = {{ dacrover_buffer_size }}

need-app = true
lazy-apps = true

chdir = {{ dacrover_bin_dir }}
logto2 = {{ dacrover_log_dir }}/{{ app_name }}.log

home = {{ dacrover_bin_dir }}/env
plugin = python3
callable = app
wsgi-file = {{ dacrover_bin_dir }}/run.py
