allow 95.163.217.71/32; # srch-proxy-voice1.g.smailru.net
allow 95.163.217.70/32; # srch-proxy-voice2.g.smailru.net
allow 95.163.217.69/32; # srch-proxy-voice3.g.smailru.net
allow 95.163.217.68/32; # srch-proxy-voice4.g.smailru.net
allow 85.192.35.74/32;  # skill tester
