{
	"user_mysql": "{{ smarthome_db_user }}",
	"password_mysql": "{{ smarthome_db_pass }}",
	"host_mysql": "{{ mariadb_proxy_host }}",
	"port_mysql": {{ mariadb_proxy_port }},
	"database_mysql": "{{ smarthome_db_name }}",
	"port_smarthome": "{{ smarthome_port }}"
}