
input(type="imfile"
      File="{{ smarthome_logdir }}/*.log"
      Tag="{{ app_name }}"
      reopenOnTruncate="on"
      Severity="{{ smarthome_log_severity }}"
      Facility="{{ smarthome_log_facility }}")
