[Unit]
Description={{serviceName}}
Wants=network-online.target
After=network-online.target

[Service]
User={{ userId }}
Group={{ groupId }}
LimitMEMLOCK={{ ( max_mem_lock | int ) * 1024 }}
Restart=always
RestartSec=2
StartLimitInterval=0
Type=simple
ExecStart={{ exec_command }}

[Install]
WantedBy=multi-user.target
