[Unit]
Description={{serviceName}}
Wants=network-online.target
After=network-online.target

[Service]
User={{ userId }}
Group={{ groupId }}
LimitMEMLOCK={{ ( max_mem_lock | int ) * 1024 }}
Restart=always
RestartSec=2
StartLimitBurst=3
StartLimitInterval=60
Type=simple
ExecStart={{ exec_command }}
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
