config-dir={{ pdns_conf_dir }}
daemon=yes
launch=gmysql
gmysql-host={{ mariadb_proxy_host }}
gmysql-port={{ mariadb_proxy_port }}
gmysql-user={{ pdns_db_user }}
gmysql-dbname={{ pdns_db_name }}
gmysql-password={{ pdns_db_pass }}
gmysql-dnssec=yes
setgid={{ userId }}
setuid={{ groupId }}

webserver=yes
webserver-address={{ ansible_default_ipv4['address'] }}
webserver-port={{ pdns_api_port }}
webserver-allow-from={{ pdns_allowed_hosts | join(',') }}

api=yes
api-key={{ pdns_api_key }}
