{
	"host_redis": "{{ redis_proxy_host }}",
	"port_redis": {{ redis_proxy_port }},
	"user_mysql": "{{ krionard_db_user }}",
	"password_mysql": "{{ krionard_db_pass }}",
	"host_mysql": "{{ mariadb_proxy_host }}",
	"port_mysql": {{ mariadb_proxy_port }},
	"database_mysql": "{{ krionard_db_name }}",
	"skillname": "{{ krionard_name }}",
	"smarthome_addr": "{{ smarthome_connect_host }}",
	"smarthome_port": {{ smarthome_connect_port }},
	"smarthome_auth": "{{ smarthome_auth }}",
	"smarthome_schema": "{{ smarthome_schema }}",
	"smarthome_user": "{{ smarthome_basic_user }}",
	"smarthome_pass": "{{ smarthome_basic_pass }}"
}