[uwsgi]
name = {{ app_name }}
uid = assol
gid = assol

master = true
workers = 2
threads = 2

http-socket = {{ krionard_bind }}:{{ krionard_port }}
buffer-size = {{ krionard_buffer_size }}

need-app = true
lazy-apps = true

chdir = {{ krionard_bin_dir }}
logto2 = {{ krionard_log_dir }}/{{ app_name }}.log

home = {{ krionard_bin_dir }}/env
plugin = python3
callable = app
wsgi-file = {{ krionard_bin_dir }}/run.py
