{
	"input": {
		"turnon debug": [
			"включить дебаг"
		],
		"turnoff  debug": [
			"выключить дебаг"
		],
		"what can": [
			"что ты умеешь"
		],
		"turnon": [
			"включи"
		],
		"turnoff": [
			"выключи"
		]
	},
	"output": {
		"canihelp": [
			"могу я помочь",
			"чем тебе помочь",
			"что я могу для тебя сделать"
		],
		"whatican": "я навык умного дома омега",
		"bye": [
			"пока",
			"чао",
			"пока-пока",
			"пока мешок с костями"
		],
		"dontunderstand": [
			"я не понимаю"
		]
	}
}